header{
    background-image: url("../images/p1.webp")
    
}

    div{
        background-image: url("../images/p2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
 }
    footer{
        background-image: url("../images/pp2.jpg");
height: 300px;

    }
    img {
        width: 300px;
        height: 500px;
        border: 10px radius blue;

    }
    label {
        display: block;
    }